@media all and (max-width:1200px) and (min-width:768px)
{
.login-content .heading h2 {
	font-size: 16px;
}
}
@media all and (max-width:1200px)
{
.table th {
	padding: 8px;
}
.table td {
	padding: 8px;
}
}
@media all and (max-width:1380px)
{
.camera_wrap .camera_pag .camera_pag_ul {
	right: 5% !important;
}
}
@media all and (min-width:1200px)
{
.container {
	width: 1200px;
}
.camera_wrap .camera_pag .camera_pag_ul {
	right: 13%;
}
}
@media all and (min-width:768px)
{
.banner > div a:hover h2 {
	color: rgb(255, 255, 255);
}
.banner > div a:hover h1 {
	color: rgb(84, 191, 131);
}
.box .box-content .box-product ul li.last_line {
	margin-bottom: 0px;
}
.box .box-content .box-product ul li {
	margin-bottom: 32px;
}
.product-grid ul li .padding {
	background-color: rgb(250, 250, 250);
}
.box .box-content .box-product ul li .padding {
	background-color: rgb(250, 250, 250);
}
.box .box-content .box-product ul li .name {
	margin-bottom: 3px;
}
.box .box-content .box-product ul li .description {
	margin-bottom: 17px;
}
.box .box-content .box-product ul li .price {
	margin-bottom: 17px;
}
.box .box-content .box-product ul li .padding .inner {
	padding: 25px 38px 38px;
}
.product-grid ul li .left {
	padding: 20px;
}
.product-grid .image {
	padding: 50px 0px; background-color: rgb(244, 244, 244);
}
.box .box-content .box-product ul li .image2 {
	padding: 50px 0px; background-color: rgb(244, 244, 244);
}
}
@media all and (max-width:1199px) and (min-width:768px)
{
a.button span {
	white-space: normal;
}
.compare-info td img {
	max-width: 100px;
}
#menu {
	max-width: 940px;
}
ul.sf-menu > li {
	padding: 27px 15px;
}
.product-grid .cart {
	float: none;
}
.box .box-product .cart {
	float: none;
}
.preview .wishlist a {
	margin: 0px 0px 0px 10px;
}
.preview .compare a {
	margin: 0px 0px 0px 10px;
}
.wishlist a {
	margin: 10px 10px 0px 0px;
}
.compare a {
	margin: 10px 10px 0px 0px;
}
.product-list .wishlist a {
	margin: 0px 0px 0px 10px;
}
.product-list .compare a {
	margin: 0px 0px 0px 10px;
}
.box .wishlist a {
	margin-top: 0px; margin-bottom: 10px;
}
.box .compare a {
	margin-top: 0px; margin-bottom: 10px;
}
aside .box .box-heading {
	padding: 20px; font-size: 16px;
}
#search input {
	width: 160px;
}
header .links li a {
	font-size: 10px;
}
.box .box-content .box-product ul li .padding .inner {
	padding: 20px;
}
.camera_caption h1 {
	font-size: 68px;
}
.camera_caption h2 {
	font-size: 29px;
}
.camera_wrap .camera_pag .camera_pag_ul {
	display: none;
}
.banner .s-desc > i {
	font-size: 19px;
}
footer h3 {
	font-size: 13px;
}
}
@media all and (max-width:1199px) and (min-width:980px)
{
.product-info .cart-top-padd {
	margin-bottom: 10px;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
#menu {
	max-width: 720px;
}
.product-info .review .btn-rew {
	margin-top: 15px;
}
.checkout-content {
	padding: 20px;
}
.compare-info td img {
	max-width: 90px;
}
.compare-info td a.button span {
	padding: 7px 6px; font-size: 11px;
}
.compare-info td:first-child {
	-ms-word-wrap: break-word; max-width: 80px;
}
.compare-info .prod-stock {
	font-size: 12px;
}
.preview .cart {
	margin-right: 0px;
}
.login-content .form-horizontal .control-label {
	text-align: left; max-width: 100%;
}
.login-content .form-horizontal .controls {
	margin-left: 0px;
}
.related {
	padding: 0px 80px;
}
.product-filter .display {
	clear: both; float: none;
}
footer .fa-phone.fa {
	display: none;
}
.login-content .heading h2 {
	font-size: 13px;
}
.login-content .heading i {
	font-size: 20px;
}
aside a.button span {
	font-size: 10px; white-space: normal;
}
.compare-block .image {
	text-align: center; margin-bottom: 8px; float: none;
}
.phone {
	margin: 0px 0px 20px; clear: right;
}
header #logo {
	max-width: 350px;
}
ul.sf-menu > li {
	padding: 27px 10px;
}
#search input {
	max-width: 125px;
}
#livesearch_search_results {
	width: 175px !important;
}
ul.sf-menu > li > a {
	font-size: 10px;
}
aside .box .box-heading {
	padding: 10px 15px; font-size: 13px;
}
.toprow {
	position: relative;
}
#search {
	right: 15px; bottom: -63px; position: absolute;
}
.camera_caption p {
	display: none;
}
.banner .s-desc h1 {
	font-size: 26px;
}
.price {
	font-size: 17px;
}
.price .price-old {
	font-size: 13px;
}
a.button i {
	display: none;
}
.camera_caption h1 {
	font-size: 50px;
}
.camera_caption h2 {
	font-size: 20px;
}
.camera_caption h3 {
	font-size: 15px;
}
.camera_caption h3 span {
	font-size: 25px;
}
.camera_caption a span {
	padding: 10px 15px; font-size: 12px;
}
.camera_caption a i {
	width: 41px; line-height: 41px;
}
.banner .s-desc > i {
	font-size: 14px;
}
}
@media only screen and (orientation:landscape) and (max-device-width:1024px) and (min-device-width:768px)
{
#full_gallery {
	display: block;
}
#default_gallery {
	display: none;
}
.box .box-content .box-product ul li:hover .quick-view-button {
	display: none !important; visibility: hidden;
}
}
@media all and (max-width:767px)
{
.camera_wrap .camera_pag .camera_pag_ul {
	display: none;
}
.camera_caption h1 {
	font-size: 50px;
}
.camera_caption h2 {
	font-size: 20px;
}
.camera_caption h3 {
	font-size: 15px;
}
.camera_caption h3 span {
	font-size: 25px;
}
.camera_caption a span {
	padding: 10px 15px; font-size: 12px;
}
.camera_caption a i {
	width: 41px; line-height: 41px;
}
.camera_caption p {
	display: none;
}
.banner {
	margin-bottom: 10px;
}
.banner > div {
	margin: 0px auto 10px; max-width: 400px;
}
#menu ul {
	display: none;
}
#menu {
	background: none; margin: 0px; padding: 0px;
}
.phone {
	display: none;
}
#menu-gadget {
	display: block;
}
#cart .heading span.link_a i.fa-shopping-cart.fa {
	width: auto; height: 50px; line-height: 50px; font-size: 26px; vertical-align: top; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#cart .heading span.link_a {
	padding: 0px 10px; border-radius: 0px; color: rgb(255, 255, 255); line-height: 50px; background-color: rgb(84, 191, 131);
}
header .active#cart .content {
	top: 50px;
}
.checkout-content {
	padding: 20px;
}
.about-page i {
	display: none;
}
#cboxContent .about-page {
	padding: 0px;
}
#copyright {
	text-align: center;
}
.name a:hover {
	text-decoration: none;
}
.name a {
	text-decoration: underline;
}
aside #compare {
	display: none !important;
}
#full_gallery {
	display: block;
}
#default_gallery {
	display: none;
}
.tabs .tab-heading:hover {
	cursor: pointer;
}
.tabs .tab-content {
	display: none;
}
#content {
	margin-bottom: 20px;
}
.product-info .cart-top-padd {
	margin-bottom: 10px;
}
.box {
	padding-bottom: 0px; margin-bottom: 10px;
}
#column-right .box .box-heading {
	margin-bottom: 10px;
}
#column-left .box .box-heading {
	margin-bottom: 10px;
}
.product-grid .name {
	height: auto;
}
.product-list .description {
	display: none;
}
.product-info h1 {
	display: none;
}
.product-info h1.view {
	display: block;
}
.product-filter .display {
	display: none;
}
#content .box {
	margin-bottom: 5px;
}
.box .box-heading {
	margin-bottom: 15px;
}
.box .box-content .box-product ul li:hover .quick-view-button {
	display: none !important; visibility: hidden; opacity: 0;
}
#compare-total {
	display: none;
}
.cart-button .compare {
	display: none;
}
#content .box-product li {
	padding-bottom: 15px; margin-bottom: 15px !important; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: dotted;
}
.cart-button > div.wishlist {
	display: none;
}
.box-product .name {
	margin: 0px;
}
footer > div.container {
	display: none;
}
footer > div + div.container {
	display: block;
}
footer {
	padding: 0px; margin-top: 5px;
}
#copyright {
	padding: 15px 20px; margin-top: 0px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
header #logo {
	margin: 78px 0px 29px 10px;
}
.cart-position {
	margin: 0px; top: 0px; right: 0px; position: fixed; z-index: 100;
}
#content .box-product .image2 {
	width: 30%; float: left;
}
#content .box-product .inner {
	width: 58%; margin-left: 30px; float: left;
}
#content .box-product li {
	margin-bottom: 30px;
}
#search {
	margin: 0px; left: 0px; top: 50px; width: 100%; display: none; position: fixed; z-index: 10;
}
#search .inner {
	padding: 4px 5px; overflow: hidden; position: relative; background-color: rgb(74, 74, 74);
}
#search input {
	padding: 10px 40px 10px 10px; border-radius: 4px; width: 100%; height: 44px; max-width: none; box-sizing: border-box; box-shadow: inset 0px 0px 11px rgba(0,0,0,0.22); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
#search .button-search {
	top: 5px; right: 10px; position: absolute;
}
.cart-position #cart .heading span.link_a b {
	display: none;
}
.cart-position #cart .heading span.link_a #cart-total {
	display: none;
}
.cart-position #cart .heading span.link_a i.fa-caret-down.fa {
	display: none;
}
.cart-position {
	min-width: 83px;
}
.cart-position #cart .heading span.link_a #cart-total2 {
	background: url("../image/cart-total2.png") no-repeat left top; left: 47px; top: 14px; width: 30px; height: 22px; text-align: center; line-height: 22px; overflow: hidden; display: block; position: absolute;
}
header .active#cart .content {
	display: block;
}
.toprow-1 .cart-position {
	margin: 0px; display: block;
}
.col-sm-3 .box-content {
	display: none;
}
aside .box-heading:hover {
	cursor: pointer;
}
.box-heading i {
	line-height: 30px; float: right;
}
aside .box-product .name {
	margin: 5px 0px; height: auto !important;
}
.swipe-control i {
	color: rgb(126, 126, 126); line-height: 50px; font-size: 26px;
}
.swipe-control:hover i {
	text-decoration: none;
}
.swipe-control {
	width: 64px; height: 50px; text-align: center; border-right-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; float: left; display: block; z-index: 100;
}
body #page {
	height: 100%;
}
body.ind div.shadow {
	background: url("../image/overlay.png") 0px 0px rgba(0, 0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 99; opacity: 0.7;
}
body.ind #page {
	left: 0px; top: 0px; width: 100%; margin-left: 237px; position: fixed; z-index: 2;
}
body #body .swipe .swipe-menu {
	height: 100%; overflow: scroll; background-color: rgb(50, 50, 50);
}
body #body .swipe {
	display: none;
}
body.ind #body .swipe {
	left: 0px; top: 50px; width: 237px; color: rgb(255, 255, 255); overflow: hidden; display: block; position: fixed; z-index: 101; background-color: rgb(50, 50, 50);
}
header .toprow {
	background: none; margin: 0px; padding: 0px; position: static;
}
header .toprow .header-button {
	display: none;
}
header .toprow .links {
	display: none;
}
header .toprow-1 {
	display: block;
}
#livesearch_search_results {
	display: none !important;
}
.product-list ul li .image {
	width: 35%; float: left;
}
.product-list ul li .left {
	width: 65%; float: left;
}
.product-grid ul li {
	overflow: hidden;
}
.product-grid ul li .image {
	width: 30%; float: left;
}
.product-grid ul li .left {
	width: 65%; margin-left: 5%; float: left;
}
.box-subcat.box-product li {
	height: auto !important; overflow: hidden;
}
.box-subcat.box-product li .image {
	width: 30%; float: left; max-width: 170px;
}
.box-subcat.box-product li .name {
	width: 65%; margin-left: 5%; float: left;
}
.order-list .order-info {
	text-align: left;
}
.order-content {
	padding-top: 0px;
}
.order-content > div > div {
	margin-top: 20px;
}
.camera_caption {
	padding: 3% 3% 0px 0px;
}
}
@media all and (max-width:555px)
{
.camera_caption {
	padding-top: 0px;
}
.camera_caption h1 {
	font-size: 30px;
}
.camera_caption h2 {
	font-size: 14px;
}
.camera_caption h3 {
	font-size: 11px;
}
.camera_caption h3 span {
	font-size: 16px;
}
.man.box li {
	background: none; width: 100%; float: none;
}
.about-page i {
	display: none;
}
#cboxContent .about-page {
	padding: 0px;
}
.content-border h2 {
	margin-bottom: 20px;
}
.content-border {
	padding: 0px; border: 0px currentColor; border-image: none; margin-bottom: 0px;
}
.checkout .checkout-product .table td {
	padding: 4px 2px !important; font-size: 12px !important;
}
.product-list .cart-button {
	margin: 10px 0px 0px; float: none; position: static;
}
.shop-cart .table-bordered.table {
	border: 0px currentColor; border-image: none;
}
.shop-cart .table {
	width: 100%; display: block;
}
.shop-cart .table thead {
	display: none;
}
.shop-cart .table tbody {
	border: 0px currentColor; border-image: none; display: block;
}
.shop-cart .table tbody tr {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(215, 215, 215) rgb(215, 215, 215) currentColor; border-image: none; margin-bottom: 30px; display: block;
}
.shop-cart .table tbody td {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(215, 215, 215); border-image: none; text-align: center; display: block;
}
}
@media all and (max-width:515px)
{
img#captcha {
	margin-left: 0px;
}
}
@media all and (max-width:410px)
{
.product-info .review img {
	margin-bottom: 10px; float: none;
}
.product-info .review .btn-rew {
	float: none;
}
.product-filter .sort {
	float: none;
}
.product-filter .limit {
	margin: 10px 0px 0px; float: none;
}
}
@media all and (max-width:480px)
{
.checkout .checkout-product .table td {
	padding: 4px 2px !important; font-size: 10px !important;
}
}
@media all and (max-width:979px)
{
.product-filter .product-compare {
	margin-top: 2px;
}
.wishlist-product .table-bordered.table {
	border: 0px currentColor; border-image: none;
}
.wishlist-product .table thead {
	display: none;
}
.wishlist-product .table tbody {
	border: 0px currentColor; border-image: none; display: block;
}
.wishlist-product .table tr {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(215, 215, 215) rgb(215, 215, 215) currentColor; border-image: none; margin-bottom: 30px; display: block;
}
.wishlist-product .table td {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(215, 215, 215); border-image: none; display: block;
}
}
@media all and (max-width:372px)
{
a.button-prod {
	margin-left: 0px;
}
.camera_caption h1 {
	font-size: 20px;
}
.camera_caption h2 {
	font-size: 12px;
}
.camera_caption h3 {
	font-size: 10px;
}
.camera_caption h3 span {
	font-size: 14px;
}
.camera_caption a span {
	padding: 10px; font-size: 10px;
}
.banner .s-desc > i {
	font-size: 19px;
}
}
